<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página No Encontrada</title>
    <link rel="stylesheet" href="/css/404.css"> 
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <div class="error-container">
            <h1 class="error-code">404</h1>
            <p class="error-message">¡Ooops! Página No Encontrada</p>
            <p class="error-description">Lo sentimos, la página que buscas no existe. <br> Pero no te preocupes, ¡hay más por descubrir!</p>
            <a href="/home" class="btn-back">Volver a la Página Principal</a>
            <div class="fun-animation">
                <i class="fas fa-sad-tear"></i>
            </div>
        </div>
    </main>
    
    <%- include('partials/footer.ejs') %>
</body>
</html>