<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Gestion Materias</title>
    <link rel="stylesheet" href="/css/gestion_materias.css" />
  </head>
  <body>
    <!-- Trae el header -->
    <%- include('partials/header.ejs') %>

    <!-- Trae la Barra lateral -->
    <%- include('partials/sidebar.ejs') %>

    <main class="main-content">
      <h1>7mo 1ra - Materias</h1>
      <div class="courses-grid">
        <div class="course">
          <a href="vista_materias">
            <h3>Matematicas</h3>
          </a>
        </div>
        <div class="course">
          <a href="vista_materias">
            <h3>Ingles</h3>
          </a>
        </div>
        <div class="course">
          <a href="vista_materias">
            <h3>Autogestion</h3>
          </a>
        </div>
        <div class="course">
          <a href="vista_materias">
            <h3>Hardware</h3>
          </a>
        </div>
        <div class="course">
          <a href="vista_materias">
            <h3>Software</h3>
          </a>
        </div>
        <div class="course">
          <a href="vista_materias">
            <h3>Programación iv</h3>
          </a>
        </div>
        <div class="course">
          <a href="vista_materias">
            <h3>Asistencia</h3>
          </a>
        </div>
        <div class="course">
          <a href="vista_materias">
            <h3>Redes 3</h3>
          </a>
        </div>
        <div class="course">
          <a href="vista_materias">
            <h3>Marco juridico</h3>
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
