<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso 1 - Materias</title>
    <link rel="stylesheet" href="../../public/css/gestion_curso.css">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-left">
                <li>
                    <a href="index.html">
                      <img
                        src="../../public/images/LogoGuevara.png"
                        alt="LogoGuevara"
                        class="logo"
                      />
                    </a>
                  </li>                <li><a href="index.html">Inicio</a></li>
                <li><a href="about.html">Sobre Nosotros</a></li>
                <li><a href="contact.html">Contacto</a></li>
            </ul>
        </nav>
        <ul class="nav-right">
            <li><a href="perfil.html" class="fa-solid fa-user profile-icon"></a></li>
        </ul>
    </header>

    <aside class="sidebar">
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="notas.html">Visualizar Notas</a></li>
            <li><a href="gestion_curso.html">Gestión de Cursos</a></li>
            <li><a href="gestion_materias.html">Gestión de Materias</a></li>
            <li><a href="vista_materias.html">Vista de Materias</a></li>
            <li><a href="gestion_usuarios.html">Gestión de Usuarios</a></li>
        </ul>
    </aside>

    <main class="main-content">
        <h1>7mo 1ra - Materias</h1>
        <div class="courses-grid">
            <div class="course">
                <a href="vista_materias.html">
                    <h3>Matematicas</h3>
                </a>
            </div>
            <div class="course">
                <a href="vista_materias.html">
                    <h3>Ingles</h3>
                </a>
            </div>
            <div class="course">
                <a href="vista_materias.html">
                    <h3>Autogestion</h3>
                </a>
            </div>
            <div class="course">
                <a href="vista_materias.html">
                    <h3>Hardware</h3>
                </a>
            </div>
            <div class="course">
                <a href="vista_materias.html">
                    <h3>Software</h3>
                </a>
            </div>
            <div class="course">
                <a href="vista_materias.html">
                    <h3>Programación iv</h3>
                </a>
            </div>
            <div class="course">
                <a href="vista_materias.html">
                    <h3>Asistencia</h3>
                </a>
            </div>
            <div class="course">
                <a href="vista_materias.html">
                    <h3>Redes 3</h3>
                </a>
            </div>
            <div class="course">
                <a href="vista_materias.html">
                    <h3>Marco juridico</h3>
                </a>
            </div>
        </div>
    </main>
</body>
</html>
