<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <script>
        // Alerta que se muestra al cargar la página
        window.onload = function() {
            alert("Por ahora, apretar el botón de ingresar te redirigirá al inicio de la página solo para visualización y que sea de forma practica.");
        }

        // Función para redirigir al inicio cuando se presiona el botón de login
        function redirectToHome(event) {
            event.preventDefault(); 
            window.location.href = "/";
        }
    </script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><img src="/images/LogoGuevara.png" alt="LogoGuevara" class="logo"></li>
            </ul>
        </nav>
    </header>

    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form onsubmit="redirectToHome(event)">
            <label for="username">Usuario</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Ingresar</button>
        </form>
        <p class="signup-text">¿No tienes una cuenta? <a href="register">Regístrate</a></p>
    </div>
</body>
</html>
