<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Página de Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><img src="/images/LogoGuevara.png" alt="LogoGuevara" class="logo"></li>
            </ul>
        </nav>
    </header>

    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form action="" method="POST" id="formulario">
            <label for="correo">Correo Electrónico</label>
            <input type="email" id="email" name="correo" required>

            <label for="contrasena">Contraseña</label>
            <input type="password" id="password" name="contrasena" required>

            <input type="submit" value="Ingresar" id="button">
        </form>
    </div>

    <div class="no-account-container">
        <p>¿No tienes una cuenta? Contactate con la coordinacion</p>
        <a href="mailto:cpdeguevara.sec@tdf.edu.ar" class="contact-link">Enviar correo</a>

    </div>
    <%- include('partials/footer.ejs') %>

</body>
</html>
