<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estilos para la tabla</title>
    <link rel="stylesheet" href="../../public/css/notas.css" />
</head>
<body>
    <header>
        <nav>
            <ul class="nav-left">
          <li>
            <a href="index.html">
              <img
                src="../../public/images/LogoGuevara.png"
                alt="LogoGuevara"
                class="logo"
              />
            </a>
          </li>                <li><a href="index.html">Inicio</a></li>
                <li><a href="about.html">Sobre Nosotros</a></li>
                <li><a href="contact.html">Contacto</a></li>
            </ul>
        </nav>
        <ul class="nav-right">
            <li><a href="perfil.html" class="fa-solid fa-user profile-icon"></a></li>
        </ul>
    </header>

    <aside class="sidebar">
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="notas.html">Visualizar Notas</a></li>
            <li><a href="gestion_curso.html">Gestión de Cursos</a></li>
            <li><a href="gestion_materias.html">Gestión de Materias</a></li>
            <li><a href="vista_materias.html">Vista de Materias</a></li>
            <li><a href="gestion_usuarios.html">Gestión de Usuarios</a></li>
        </ul>
    </aside>

    <main class="content-container">
        <table>
            <tbody>
                <tr>
                    <td colspan="16">COLEGIO PROVINCIAL DR. ERNESTO GUEVARA</td>
                </tr>
                <tr>
                    <td colspan="3">Apellido y nombre:</td>
                    <td colspan="3"></td>
                    <td colspan="3">Curso:</td>
                    <td colspan="3"></td>
                    <td colspan="2">año:</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">Ciclo Superior de la ESO</td>
                    <td>materia 1</td>
                    <td>materia 2</td>
                    <td>materia 3</td>
                    <td>materia 4</td>
                    <td>materia 5</td>
                    <td>materia 6</td>
                    <td>materia 7</td>
                    <td>materia 8</td>
                    <td>materia 9</td>
                    <td>materia 10</td>
                    <td>materia 11</td>
                    <td>materia 12</td>
                    <td>materia 13</td>
                    <td>materia 14</td>
                </tr>
                <tr>
                    <td rowspan="3">Primer cuatrimestre</td>
                    <td>1° informe</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2° informe</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>NOTA</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="3">Segundo cuatrimestre</td>
                    <td>1° informe</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2° informe</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>NOTA</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">Calificación anual</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">Calificación diciembre/acreditación Técn</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">Calificación febrero/marzo</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">Calificación definitiva</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">Asistencia</td>
                    <td colspan="3">Faltas injustificadas</td>
                    <td></td>
                    <td colspan="3">Faltas justificadas</td>
                    <td></td>
                    <td colspan="4">Porcentaje de inasistencia anual</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="16"></td>
                </tr>
                <tr>
                    <td>Observaciones:</td>
                    <td colspan="15"></td>
                </tr>
            </tbody>
        </table>
    </main>
    
</body>

</html>
