<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Perfil</title>
    <link rel="stylesheet" href="/css/perfil.css" />
  </head>
  <body>
    <!-- Trae el header -->
    <%- include('partials/header.ejs') %>

    <!-- Trae la Barra lateral -->
    <%- include('partials/sidebar.ejs') %>

    <main class="content-container">
      <h1>Mi Perfil</h1>
      <div class="profile-info">
        <img
          src="profile-picture.png"
          alt="Foto de Perfil"
          class="profile-picture"
        />
        <div class="profile-details">
          <h2>Nombre Apellido</h2>
          <p><strong>Email:</strong> usuario@example.com</p>
          <p><strong>Teléfono:</strong> +123 456 7890</p>
          <p><strong>Dirección:</strong> Calle Ejemplo, Ciudad, País</p>
          <a href="edit_perfil" class="btn-edit">Editar Perfil</a>
        </div>
      </div>
    </main>
  </body>
</html>
