<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><img src="/images/LogoGuevara.png" alt="LogoGuevara" class="logo"></li>
            </ul>
        </nav>
    </header>

    <div class="register-container">
        <h2>Registro de Usuario</h2>
        <form id="register" action="/register" method="POST">
            <label for="nombre">Nombre Completo</label>
            <input type="text" id="name" name="nombre" required>

            <label for="correo">Correo Electrónico</label>
            <input type="email" id="email" name="correo" required>

            <label for="contrasena">Contraseña</label>
            <input type="password" id="password" name="password" required>

            <label for="confirm-password">Confirmar Contraseña</label>
            <input type="password" id="confirm-password" name="confirmed" required>

            <button type="submit">Registrarse</button>
        </form>
        <p class="login-text">¿Ya tienes una cuenta? <a href="/">Inicia sesión</a></p>
    </div>
</body>
</html>
