<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Vista materias</title>
    <link rel="stylesheet" href="/css/vista_materias.css"/>
  </head>
  <body>
    <!-- Trae el header -->
    <%- include('partials/header.ejs') %>

    <!-- Trae la Barra lateral -->
    <%- include('partials/sidebar.ejs') %>

    <main class="main-content">
      <h1>Materia nombre - Curso - Alumnos y Notas</h1>
      <div class="students-grid">
        <div class="student-column">
          <h3>Alumnos</h3>
          <ul>
            <li>Alumno 1</li>
            <li>Alumno 2</li>
            <li>Alumno 3</li>
            <li>Alumno 4</li>
            <li>Alumno 5</li>
          </ul>
        </div>

        <div class="grades-column">
          <h3>Notas</h3>
          <ul>
            <li>
              <span>8</span>
              <button class="edit-btn" onclick="editNote()">Editar</button>
            </li>
            <li>
              <span>7</span>
              <button class="edit-btn" onclick="editNote()">Editar</button>
            </li>
            <li>
              <span>9</span>
              <button class="edit-btn" onclick="editNote()">Editar</button>
            </li>
            <li>
              <span>6</span>
              <button class="edit-btn" onclick="editNote()">Editar</button>
            </li>
            <li>
              <span>10</span>
              <button class="edit-btn" onclick="editNote()">Editar</button>
            </li>
          </ul>
        </div>
      </div>
    </main>

    <script>
      function editNote() {
        alert("A futuro se agrega una funcion de poder modificar la nota");
      }
    </script>
  </body>
</html>
