<header>
    <nav>
        <ul class="nav-left">
            <li>
              <a href="/home">
                <img
                  src="/images/LogoGuevara.png"
                  alt="LogoGuevara"
                  class="logo"
                />
                Colegio Dr. Ernesto Guevara
              </a>
            </li>
          </ul>
    </nav>
    <ul class="nav-right">
        <li><a href="perfil" class="fa-solid fa-user profile-icon"></a></li>
    </ul>
</header>