<aside class="sidebar">
    <ul>
        <% if (usuario.tipo_usuario_id === 1) { %>
            <li><a href="/home">Inicio</a></li>
            <li><a href="/notas">Visualizar Notas</a></li>
        <% } else if (usuario.tipo_usuario_id === 2) { %>
            <li><a href="/home">Inicio</a></li>
            <li><a href="/notas">Visualizar Notas</a></li>
            <li><a href="/gestion_curso">Gestión de Cursos</a></li>
            <li><a href="/gestion_usuarios">Gestión de Usuarios</a></li>
        <% } else if (usuario.tipo_usuario_id === 3) { %>
            <li><a href="/home">Inicio</a></li>
            <li><a href="/gestion_curso">Gestión de Cursos</a></li>
        <% } %>
    </ul>
</aside>
