<aside class="sidebar">
    <ul>
        <li><a href="/home">Inicio</a></li>
        <li><a href="/notas">Visualizar Notas</a></li>
        <li><a href="/gestion_curso">Gestión de Cursos</a></li>
        <li><a href="/gestion_usuarios">Gestión de Usuarios</a></li>
    </ul>
</aside>